:root {
    --strong-cyan: hsl(171deg, 66%, 44%);
    --strong-cyan-hover: hsl(171deg 64.88% 32.3%);
    --strong-cyan-900: hsl(171deg 64.88% 32.3%);
    --light-blue: hsl(233deg, 100%, 69%);
    --light-blue-hover: hsl(233deg 44.79% 46.83%);
    --light-blue-900:  hsl(233deg 44.79% 46.83%);
    --dark-greyish: hsl(210, 10%, 33%);
    --greyish-blue: hsl(201, 11%, 66%);
}
